@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-family: 'Kanit', sans-serif;
}

@layer base {
    body {
        font-family: 'Kanit', sans-serif;
    }
}